/* 
Primary brown color: #654321
Secondary brown color: #22160b
Sale tag: #ff971e
Light grey: rgb(85, 85, 85)
 */

/* =========Global============ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
a,
a:link,
a:visited {
  color: #654321;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #22160b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #654321;
  text-transform: uppercase;
}
section {
  padding: 30px 0;
}
/* =========Reusable============ */
.container {
  max-width: 1120px;
  margin: 0 auto;
}

/* ==Grid== */

.row {
  overflow: hidden;
}

.col-1-of-2 {
  width: 50%;
  float: left;
}
.col-1-of-3 {
  width: 33.333%;
  float: left;
}
.col-2-of-3 {
  width: 66.666%;
  float: left;
}
.col-1-of-4 {
  width: 25%;
  float: left;
}
.col-3-of-4 {
  width: 75%;
  float: left;
}

.active {
  border-bottom: 2px solid #22160b !important;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}

/* ==Button== */
.btn {
  display: inline-block;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: all 0.3;
}
.btnRound {
  border-radius: 25px;
}
.btnWhite {
  background-color: #fff;
}
.btnWhite:hover {
  background-color: #22160b;
  color: #fff;
}
.btnBuy {
  border: 1px solid #654321;
  border-radius: 8px;
  background-color: #fff;
}
.btnBuy:hover {
  background-color: #654321;
  color: white;
}

/* ==Headings== */
.sectionHeading {
  text-align: center;
  font-size: 240%;
  margin: 30px 0;
  letter-spacing: 3px;
  padding: 5px;
}
.sectionHeading::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 90px;
  height: 8px;
  border-radius: 8px;
  background-color: #654321;
}

/* ==Product Card== */
.productCard2,
.productCard {
  border: 1px solid #654321;
  border-radius: 8px;
  overflow: hidden;
  margin: 15px;
  padding-bottom: 30px;
}
.productCard .productImage {
  position: relative;
}
.productImage img {
  width: 100%;
}

.productCard .productDesc {
  text-align: center;
  padding: 15px;
}
.productCard .productPrice {
  margin: 15px 0;
}
.productCard .productPrice span {
  padding: 0 8px;
}
.productCard .oldPrice {
  text-decoration: line-through;
  color: rgb(85, 85, 85);
}
.productCard2 .currentPrice,
.productCard .currentPrice {
  font-weight: bold;
  font-size: 120%;
  color: #654321;
}
.productCard .saleTag {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  background-color: #ff971e;
  padding: 17px 11px 14px 11px;
  border-radius: 25px;
  font-weight: 700;
  color: #fff;
}

/* ==Product Card== */
.productCard2 {
  padding: 20px 3px;
  background-color: #fff;
}
.productCard2 .productDesc {
  margin-left: 5px;
}
.productCard2 .productPrice {
  margin: 15px 0;
}
/* =======Header========= */
header {
  padding: 10px 0;
}
#logo {
  width: 35px;
}
#logo img {
  width: 100%;
}
.mainMenu ul {
  list-style: none;
  margin-top: 28px;
}
.mainMenu ul li {
  display: inline-block;
  margin-left: 7px;
}
.mainMenu ul li a {
  border-bottom: 2px solid transparent;
  padding: 5px 8px;
}
.mainMenu ul li a:hover {
  border-bottom: 2px solid #22160b;
}

/* =========Landing Section============ */
.landingSection {
  min-height: 85vh;
  background-image: linear-gradient(to right, #ffffffb3, #a3b0bdb3),
    url(../images/headerbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landingSectionText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #22160b;
}
.landingSection h1,
.landingSection p {
  text-transform: uppercase;
  color: #22160b;
}
.landingSection h1 {
  font-size: 380%;
  font-weight: normal;
  letter-spacing: 3px;
}
.landingSection p {
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 35px;
}
.landingSection a {
  font-size: 130%;
}

/* =========Featured Section============ */
.featuredSection {
  padding: 70px 0 100px;
  background-color: #e6e6e6;
}

/* =========Review Section============ */
.singleReview {
  background-color: #654321;
  color: #fff;
  padding: 20px 60px;
  margin: 30px 80px;
  border-radius: 10px;
}
.reviewImage {
  width: 130px;
}
.reviewImage img {
  width: 100%;
  border-radius: 100px;
}
.reviewBody {
  line-height: 25px;
  letter-spacing: 1.5px;
}
.rating {
  display: block;
  padding-bottom: 10px;
  font-size: 180%;
}

/* =========Footer Section============ */
footer {
  background-color: #555555;
  color: rgb(219, 219, 219);
  padding-top: 50px;
}
.footerCol {
  margin: 0 15px;
}
.footerHead {
  color: #fff;
  margin-bottom: 20px;
}
.footerAbout {
  text-align: justify;
  line-height: 20px;
}
.footerMenu {
  list-style: none;
}
.footerMenu a {
  color: rgb(219, 219, 219);
  display: inline-block;
  padding: 3px;
  margin: 5px;
}
.footerMenu a:hover {
  color: #fff;
  transform: translateX(5px);
}
.footerSocialMenu li {
  display: inline-block;
  padding: 5px;
}
.footerSocialMenu a {
  color: rgb(219, 219, 219);
  font-size: 200%;
}
.footerSocialMenu a:hover {
  display: block;
  transform: translateY(-5px);
}

.newsLetterForm input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #555;
  width: 80%;
  margin-bottom: 3px;
}
.newsLetterForm input[type="submit"] {
  background-color: #654321;
  color: #fff;
}
.footerBotom {
  background-color: rgb(44, 44, 44);
  margin-top: 50px;
  color: #fff;
  padding: 15px;
  text-align: center;
}
